.dfx
.mops
.tmp
.vessel/
.vscode/
.DS_Store
*.wasm
dfx.json
package-set.dhall
vessel.dhall
site/
modoc-tmp
.icp/
mops.lock
node_modules/
package.json
package-lock.json
build/
skills-lock.json
.agents
